body {
    background-image: url("../images/html-background-image-HD3-1.jpg");
    backgroun-size: cover;
}
.diamond {
    width: 90px;
    height: 90px;
    background: #1eff00;
    margin: 0;
    padding: 0;
}

#red {
    color:black;
    background-color: #d9534f;
    border-color: #d9534f;
}
#blue {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
#yellow {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
#green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

#red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
#blue {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
#yellow {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
#green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.row {
    text-align: center;
    float: left;
    color: #fff
}
h1,h2,h3 {
    color: #fff
}